
body::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #d9d1d139;
  width: 0.6rem;
  border-radius: 0.5rem;
}

h4 {
  text-align: left;
  margin-left: 40px;
}

hr {
  border-top: 2px dotted #3f51b5;
}

.dropzone {
  background-color: #1C1C24;
  border: 2px dashed rgb(90, 92, 93);
  border-radius: 2px;
}

/* For pdf */
/* .react-pdf__Page {
  margin-top: 10px;
} */
.pdf-preview-page {
  cursor: move;
}
.pdf-preview-selected {
  /* padding-bottom: 10px; */
  cursor: move;
  width: fit-content;
  background: none;
  border: 3px solid rgb(58, 144, 190);
  border-radius: 2px;
}

.react-pdf__Page__textContent {
  /* border: 1px solid darkgrey; */
  /* box-shadow: 5px 5px 5px 1px #ccc; */
  /* background-color: #1C1C24; */
  border-radius: 5px;
}
.react-pdf__Document {
  background-color: #1C1C24;
}
.react-pdf__Page__annotations.annotationLayer {
  /* background-color: #1C1C24; */

  padding: 20px;
}

.react-pdf__Page {
  /* width: 319px; */
  margin: 0 auto;
}
.react-pdf__Page__canvas {
  background-color: rgb(132, 132, 137);
  margin: 0 auto;
  padding: 1px;
}
.pdf-preview {
  overflow-x: hidden;
  overflow-y: auto;
  /* z-index: 100; */
  /* width: 40vh; */
  /* height: 60vh;  */
  border: 2px  rgb(90, 92, 93);
  border-radius: 5px;
  /* background-color: #1C1C24; */
  
}

.pdf-preview::-webkit-scrollbar {
  height: 0.3rem;
  width: 0.3rem;
}

.pdf-preview::-webkit-scrollbar-thumb {
  background-color: #d9d1d139;
  height: 0.1rem;
  border-radius: 0.5rem;
}
.pdf-bin::-webkit-scrollbar {
  width: 0.3rem;
}

.pdf-bin::-webkit-scrollbar-thumb {
  background-color: #d9d1d139;
  height: 0.1 rem;
  border-radius: 0.1 rem;
}

.pdf-bin {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 25px;
  /* box-shadow: 1px 1px 9px 1px #5e5353; */
}
/* For all pages */
.all-page-container {
  height: 100%;
  max-height: 500px;
  overflow: auto;
}